.filter{
  padding: 0.4rem 1rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--white);
  font-size: 15px;
  
  &:hover{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--primary-dark);
  }
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
    
  &:hover{
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
  }
}

.add-big {
  width: 14rem;
  height: 6rem;
  border-radius: 14px;
}

.add-small {
  width: 20rem;
  border-radius: 1px;
  background-color: var(--secondary-light);
  border: 1px solid var(--secondary-light);
  
  &:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
}

.submit {
  width: 15rem;
  height: 2.5rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--secondary);
  border-radius: 14px;
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
   
  &:hover{
    border: 1px solid var(--secondary-light);
    background-color: var(--secondary-light);
  }
}

.submit-small {
  width: 4.5rem;
  height: 2.1rem;
  border-radius: 11px;
}

.delete {
  padding: 0.2rem 1.5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--light-red);
  border-radius: 14px;
  background-color: var(--light-red);
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
    
  &:hover{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--primary-dark);
  }
} 

.delete-small {
  padding: 0.2rem 0.7rem;
}
  
*:disabled {
  opacity: 0.5;
}