<div class="auth">
  <div class="auth__container">
    <div class="auth__header">
      <img src="../../../assets/checkmark-icon.png" alt="checkmark icon" width="40px">
      <h1 class="auth__title">Task Manager</h1>
    </div>
    <div class="auth__content">
      <p class="auth__text auth__text_big">Stay organized and efficient</p>
      <ul class="auth__list">
        <li class="auth__list-item auth__text">          
          <img src="../../../assets/done-icon.png" alt="done icon" width="15px">
          allows efficiently manage your tasks
        </li>
        <li class="auth__list-item auth__text">          
          <img src="../../../assets/done-icon.png" alt="done icon" width="15px">
          allows you to focus on your tasks not on the design
        </li>
        <li class="auth__list-item auth__text">          
          <img src="../../../assets/done-icon.png" alt="done icon" width="15px">
          allows you to stay productive in your everyday life
        </li>
      </ul>
    </div>
  </div>
  <div class="auth__form">
    <router-outlet></router-outlet>
  </div>
</div>
