$primary: #a1abc3;
$primary-dark: #81899b;
$secondary: #f7b716;
$secondary-light: #fcce5b;
$light-red: #ff6464;
$white: #fff;

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --light-red: #{$light-red};
  --white: #{$white};
  --box-shadow: 0 0.4rem 1rem rgba(0,0,0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
